In [1]:
cd ..

/home/onyxia/work/tutorial-text-classification

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/raw/nace_test.csv', index_col=0)

In [4]:
df

                                                     text label
553970  L EDITION MUSICALE  LA PRODUCTION PHONOGRAPHIQ...     J
379876  COMMERCE DE GLACES  COMMERCE DE TOUS PRODUITS ...     I
642768  LACQUISITION  LADMINISTRATION ET LA GESTION PA...     L
598808  CREATION DE VETEMENTS ET ACCESSOIRES BEBES ENF...     C
805422      LOCATION D EMPLACEMENTS DE PECHE A LA JOURNEE     L
...                                                   ...   ...
35224   LIVRAISON A DOMICILE   ACTIVITE SECONDAIRE DEJ...     H
489265  ACTIVITE DE CONCIERGERIE DE LOCATION EN FORMUL...     S
575488  ETUDES TECHNIQUES PHOTOVOLTAIQUES  INGENIERIE ...     M
2426    VENTE EN LIGNE DE PRET A PORTER ET TOUS PRODUI...     G
444076  SECRETARIAT INDEPENDANT  TRAVAUX ADMINISTRATIF...     N

[2000 rows x 2 columns]